/* light */
.markdown-raw {
  color-scheme: light;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  color: #1f2328;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown-raw .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.markdown-raw h1:hover .anchor .octicon-link:before,
.markdown-raw h2:hover .anchor .octicon-link:before,
.markdown-raw h3:hover .anchor .octicon-link:before,
.markdown-raw h4:hover .anchor .octicon-link:before,
.markdown-raw h5:hover .anchor .octicon-link:before,
.markdown-raw h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: ' ';
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.markdown-raw details,
.markdown-raw figcaption,
.markdown-raw figure {
  display: block;
}

.markdown-raw summary {
  display: list-item;
}

.markdown-raw [hidden] {
  display: none !important;
}

.markdown-raw a {
  background-color: transparent;
  color: #0969da;
  text-decoration: none;
}

.markdown-raw abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

.markdown-raw b,
.markdown-raw strong {
  font-weight: 600;
}

.markdown-raw dfn {
  font-style: italic;
}

.markdown-raw h1 {
  margin: .67em 0;
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 2em;
  border-bottom: 1px solid #d1d9e0b3;
}

.markdown-raw mark {
  background-color: #fff8c5;
  color: #1f2328;
}

.markdown-raw small {
  font-size: 90%;
}

.markdown-raw sub,
.markdown-raw sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.markdown-raw sub {
  bottom: -0.25em;
}

.markdown-raw sup {
  top: -0.5em;
}

.markdown-raw img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
}

.markdown-raw code,
.markdown-raw kbd,
.markdown-raw pre,
.markdown-raw samp {
  font-family: monospace;
  font-size: 1em;
}

.markdown-raw figure {
  margin: 1em 2.5rem;
}

.markdown-raw hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid #d1d9e0b3;
  height: .25em;
  padding: 0;
  margin: 1.5rem 0;
  background-color: #d1d9e0;
  border: 0;
}

.markdown-raw input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdown-raw [type=button],
.markdown-raw [type=reset],
.markdown-raw [type=submit] {
  -webkit-appearance: button;
  appearance: button;
}

.markdown-raw [type=checkbox],
.markdown-raw [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.markdown-raw [type=number]::-webkit-inner-spin-button,
.markdown-raw [type=number]::-webkit-outer-spin-button {
  height: auto;
}

.markdown-raw [type=search]::-webkit-search-cancel-button,
.markdown-raw [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.markdown-raw ::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

.markdown-raw ::-webkit-file-upload-button {
  -webkit-appearance: button;
  appearance: button;
  font: inherit;
}

.markdown-raw a:hover {
  text-decoration: underline;
}

.markdown-raw ::placeholder {
  color: #59636e;
  opacity: 1;
}

.markdown-raw hr::before {
  display: table;
  content: "";
}

.markdown-raw hr::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-raw table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  font-variant: tabular-nums;
}

.markdown-raw td,
.markdown-raw th {
  padding: 0;
}

.markdown-raw details summary {
  cursor: pointer;
}

.markdown-raw a:focus,
.markdown-raw [role=button]:focus,
.markdown-raw input[type=radio]:focus,
.markdown-raw input[type=checkbox]:focus {
  outline: 2px solid #0969da;
  outline-offset: -2px;
  box-shadow: none;
}

.markdown-raw a:focus:not(:focus-visible),
.markdown-raw [role=button]:focus:not(:focus-visible),
.markdown-raw input[type=radio]:focus:not(:focus-visible),
.markdown-raw input[type=checkbox]:focus:not(:focus-visible) {
  outline: solid 1px transparent;
}

.markdown-raw a:focus-visible,
.markdown-raw [role=button]:focus-visible,
.markdown-raw input[type=radio]:focus-visible,
.markdown-raw input[type=checkbox]:focus-visible {
  outline: 2px solid #0969da;
  outline-offset: -2px;
  box-shadow: none;
}

.markdown-raw a:not([class]):focus,
.markdown-raw a:not([class]):focus-visible,
.markdown-raw input[type=radio]:focus,
.markdown-raw input[type=radio]:focus-visible,
.markdown-raw input[type=checkbox]:focus,
.markdown-raw input[type=checkbox]:focus-visible {
  outline-offset: 0;
}

.markdown-raw kbd {
  display: inline-block;
  padding: 0.25rem;
  font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  line-height: 10px;
  color: #1f2328;
  vertical-align: middle;
  background-color: #f6f8fa;
  border: solid 1px #d1d9e0b3;
  border-bottom-color: #d1d9e0b3;
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 #d1d9e0b3;
}

.markdown-raw h1,
.markdown-raw h2,
.markdown-raw h3,
.markdown-raw h4,
.markdown-raw h5,
.markdown-raw h6 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.25;
}

.markdown-raw h2 {
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 1.5em;
  border-bottom: 1px solid #d1d9e0b3;
}

.markdown-raw h3 {
  font-weight: 600;
  font-size: 1.25em;
}

.markdown-raw h4 {
  font-weight: 600;
  font-size: 1em;
}

.markdown-raw h5 {
  font-weight: 600;
  font-size: .875em;
}

.markdown-raw h6 {
  font-weight: 600;
  font-size: .85em;
  color: #59636e;
}

.markdown-raw p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown-raw blockquote {
  margin: 0;
  padding: 0 1em;
  color: #59636e;
  border-left: .25em solid #d1d9e0;
}

.markdown-raw ul,
.markdown-raw ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.markdown-raw ol ol,
.markdown-raw ul ol {
  list-style-type: lower-roman;
}

.markdown-raw ul ul ol,
.markdown-raw ul ol ol,
.markdown-raw ol ul ol,
.markdown-raw ol ol ol {
  list-style-type: lower-alpha;
}

.markdown-raw dd {
  margin-left: 0;
}

.markdown-raw tt,
.markdown-raw code,
.markdown-raw samp {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 12px;
}

.markdown-raw pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 12px;
  word-wrap: normal;
}

.markdown-raw .octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.markdown-raw input::-webkit-outer-spin-button,
.markdown-raw input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.markdown-raw .mr-2 {
  margin-right: 0.5rem !important;
}

.markdown-raw::before {
  display: table;
  content: "";
}

.markdown-raw::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-raw>*:first-child {
  margin-top: 0 !important;
}

.markdown-raw>*:last-child {
  margin-bottom: 0 !important;
}

.markdown-raw a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-raw .absent {
  color: #d1242f;
}

.markdown-raw .anchor {
  float: left;
  padding-right: 0.25rem;
  margin-left: -20px;
  line-height: 1;
}

.markdown-raw .anchor:focus {
  outline: none;
}

.markdown-raw p,
.markdown-raw blockquote,
.markdown-raw ul,
.markdown-raw ol,
.markdown-raw dl,
.markdown-raw table,
.markdown-raw pre,
.markdown-raw details {
  margin-top: 0;
  margin-bottom: 1rem;
}

.markdown-raw blockquote>:first-child {
  margin-top: 0;
}

.markdown-raw blockquote>:last-child {
  margin-bottom: 0;
}

.markdown-raw h1 .octicon-link,
.markdown-raw h2 .octicon-link,
.markdown-raw h3 .octicon-link,
.markdown-raw h4 .octicon-link,
.markdown-raw h5 .octicon-link,
.markdown-raw h6 .octicon-link {
  color: #1f2328;
  vertical-align: middle;
  visibility: hidden;
}

.markdown-raw h1:hover .anchor,
.markdown-raw h2:hover .anchor,
.markdown-raw h3:hover .anchor,
.markdown-raw h4:hover .anchor,
.markdown-raw h5:hover .anchor,
.markdown-raw h6:hover .anchor {
  text-decoration: none;
}

.markdown-raw h1:hover .anchor .octicon-link,
.markdown-raw h2:hover .anchor .octicon-link,
.markdown-raw h3:hover .anchor .octicon-link,
.markdown-raw h4:hover .anchor .octicon-link,
.markdown-raw h5:hover .anchor .octicon-link,
.markdown-raw h6:hover .anchor .octicon-link {
  visibility: visible;
}

.markdown-raw h1 tt,
.markdown-raw h1 code,
.markdown-raw h2 tt,
.markdown-raw h2 code,
.markdown-raw h3 tt,
.markdown-raw h3 code,
.markdown-raw h4 tt,
.markdown-raw h4 code,
.markdown-raw h5 tt,
.markdown-raw h5 code,
.markdown-raw h6 tt,
.markdown-raw h6 code {
  padding: 0 .2em;
  font-size: inherit;
}

.markdown-raw summary h1,
.markdown-raw summary h2,
.markdown-raw summary h3,
.markdown-raw summary h4,
.markdown-raw summary h5,
.markdown-raw summary h6 {
  display: inline-block;
}

.markdown-raw summary h1 .anchor,
.markdown-raw summary h2 .anchor,
.markdown-raw summary h3 .anchor,
.markdown-raw summary h4 .anchor,
.markdown-raw summary h5 .anchor,
.markdown-raw summary h6 .anchor {
  margin-left: -40px;
}

.markdown-raw summary h1,
.markdown-raw summary h2 {
  padding-bottom: 0;
  border-bottom: 0;
}

.markdown-raw ul.no-list,
.markdown-raw ol.no-list {
  padding: 0;
  list-style-type: none;
}

.markdown-raw ol[type="a s"] {
  list-style-type: lower-alpha;
}

.markdown-raw ol[type="A s"] {
  list-style-type: upper-alpha;
}

.markdown-raw ol[type="i s"] {
  list-style-type: lower-roman;
}

.markdown-raw ol[type="I s"] {
  list-style-type: upper-roman;
}

.markdown-raw ol[type="1"] {
  list-style-type: decimal;
}

.markdown-raw div>ol:not([type]) {
  list-style-type: decimal;
}

.markdown-raw ul ul,
.markdown-raw ul ol,
.markdown-raw ol ol,
.markdown-raw ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-raw li>p {
  margin-top: 1rem;
}

.markdown-raw li+li {
  margin-top: .25em;
}

.markdown-raw dl {
  padding: 0;
}

.markdown-raw dl dt {
  padding: 0;
  margin-top: 1rem;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdown-raw dl dd {
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.markdown-raw table th {
  font-weight: 600;
}

.markdown-raw table th,
.markdown-raw table td {
  padding: 6px 13px;
  border: 1px solid #d1d9e0;
}

.markdown-raw table td>:last-child {
  margin-bottom: 0;
}

.markdown-raw table tr {
  background-color: #ffffff;
  border-top: 1px solid #d1d9e0b3;
}

.markdown-raw table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown-raw table img {
  background-color: transparent;
}

.markdown-raw img[align=right] {
  padding-left: 20px;
}

.markdown-raw img[align=left] {
  padding-right: 20px;
}

.markdown-raw .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

.markdown-raw span.frame {
  display: block;
  overflow: hidden;
}

.markdown-raw span.frame>span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #d1d9e0;
}

.markdown-raw span.frame span img {
  display: block;
  float: left;
}

.markdown-raw span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #1f2328;
}

.markdown-raw span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.markdown-raw span.align-center>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

.markdown-raw span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.markdown-raw span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.markdown-raw span.align-right>span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

.markdown-raw span.align-right span img {
  margin: 0;
  text-align: right;
}

.markdown-raw span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

.markdown-raw span.float-left span {
  margin: 13px 0 0;
}

.markdown-raw span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

.markdown-raw span.float-right>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

.markdown-raw code,
.markdown-raw tt {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: #818b981f;
  border-radius: 6px;
}

.markdown-raw code br,
.markdown-raw tt br {
  display: none;
}

.markdown-raw del code {
  text-decoration: inherit;
}

.markdown-raw samp {
  font-size: 85%;
}

.markdown-raw pre code {
  font-size: 100%;
}

.markdown-raw pre>code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown-raw .highlight {
  margin-bottom: 1rem;
}

.markdown-raw .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown-raw .highlight pre,
.markdown-raw pre {
  padding: 1rem;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  color: #1f2328;
  background-color: #f6f8fa;
  border-radius: 6px;
}

.markdown-raw pre code,
.markdown-raw pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.markdown-raw .csv-data td,
.markdown-raw .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

.markdown-raw .csv-data .blob-num {
  padding: 10px 0.5rem 9px;
  text-align: right;
  background: #ffffff;
  border: 0;
}

.markdown-raw .csv-data tr {
  border-top: 0;
}

.markdown-raw .csv-data th {
  font-weight: 600;
  background: #f6f8fa;
  border-top: 0;
}

.markdown-raw [data-footnote-ref]::before {
  content: "[";
}

.markdown-raw [data-footnote-ref]::after {
  content: "]";
}

.markdown-raw .footnotes {
  font-size: 12px;
  color: #59636e;
  border-top: 1px solid #d1d9e0;
}

.markdown-raw .footnotes ol {
  padding-left: 1rem;
}

.markdown-raw .footnotes ol ul {
  display: inline-block;
  padding-left: 1rem;
  margin-top: 1rem;
}

.markdown-raw .footnotes li {
  position: relative;
}

.markdown-raw .footnotes li:target::before {
  position: absolute;
  top: calc(0.5rem*-1);
  right: calc(0.5rem*-1);
  bottom: calc(0.5rem*-1);
  left: calc(1.5rem*-1);
  pointer-events: none;
  content: "";
  border: 2px solid #0969da;
  border-radius: 6px;
}

.markdown-raw .footnotes li:target {
  color: #1f2328;
}

.markdown-raw .footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

.markdown-raw body:has(:modal) {
  padding-right: var(--dialog-scrollgutter) !important;
}

.markdown-raw .pl-c {
  color: #59636e;
}

.markdown-raw .pl-c1,
.markdown-raw .pl-s .pl-v {
  color: #0550ae;
}

.markdown-raw .pl-e,
.markdown-raw .pl-en {
  color: #6639ba;
}

.markdown-raw .pl-smi,
.markdown-raw .pl-s .pl-s1 {
  color: #1f2328;
}

.markdown-raw .pl-ent {
  color: #0550ae;
}

.markdown-raw .pl-k {
  color: #cf222e;
}

.markdown-raw .pl-s,
.markdown-raw .pl-pds,
.markdown-raw .pl-s .pl-pse .pl-s1,
.markdown-raw .pl-sr,
.markdown-raw .pl-sr .pl-cce,
.markdown-raw .pl-sr .pl-sre,
.markdown-raw .pl-sr .pl-sra {
  color: #0a3069;
}

.markdown-raw .pl-v,
.markdown-raw .pl-smw {
  color: #953800;
}

.markdown-raw .pl-bu {
  color: #82071e;
}

.markdown-raw .pl-ii {
  color: #f6f8fa;
  background-color: #82071e;
}

.markdown-raw .pl-c2 {
  color: #f6f8fa;
  background-color: #cf222e;
}

.markdown-raw .pl-sr .pl-cce {
  font-weight: bold;
  color: #116329;
}

.markdown-raw .pl-ml {
  color: #3b2300;
}

.markdown-raw .pl-mh,
.markdown-raw .pl-mh .pl-en,
.markdown-raw .pl-ms {
  font-weight: bold;
  color: #0550ae;
}

.markdown-raw .pl-mi {
  font-style: italic;
  color: #1f2328;
}

.markdown-raw .pl-mb {
  font-weight: bold;
  color: #1f2328;
}

.markdown-raw .pl-md {
  color: #82071e;
  background-color: #ffebe9;
}

.markdown-raw .pl-mi1 {
  color: #116329;
  background-color: #dafbe1;
}

.markdown-raw .pl-mc {
  color: #953800;
  background-color: #ffd8b5;
}

.markdown-raw .pl-mi2 {
  color: #d1d9e0;
  background-color: #0550ae;
}

.markdown-raw .pl-mdr {
  font-weight: bold;
  color: #8250df;
}

.markdown-raw .pl-ba {
  color: #59636e;
}

.markdown-raw .pl-sg {
  color: #818b98;
}

.markdown-raw .pl-corl {
  text-decoration: underline;
  color: #0a3069;
}

.markdown-raw [role=button]:focus:not(:focus-visible),
.markdown-raw [role=tabpanel][tabindex="0"]:focus:not(:focus-visible),
.markdown-raw button:focus:not(:focus-visible),
.markdown-raw summary:focus:not(:focus-visible),
.markdown-raw a:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

.markdown-raw [tabindex="0"]:focus:not(:focus-visible),
.markdown-raw details-dialog:focus:not(:focus-visible) {
  outline: none;
}

.markdown-raw g-emoji {
  display: inline-block;
  min-width: 1ch;
  font-family: "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}

.markdown-raw g-emoji img {
  width: 1em;
  height: 1em;
}

.markdown-raw .task-list-item {
  list-style-type: none;
}

.markdown-raw .task-list-item label {
  font-weight: 400;
}

.markdown-raw .task-list-item.enabled label {
  cursor: pointer;
}

.markdown-raw .task-list-item+.task-list-item {
  margin-top: 0.25rem;
}

.markdown-raw .task-list-item .handle {
  display: none;
}

.markdown-raw .task-list-item-checkbox {
  margin: 0 .2em .25em -1.4em;
  vertical-align: middle;
}

.markdown-raw ul:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em .25em .2em;
}

.markdown-raw ol:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em .25em .2em;
}

.markdown-raw .contains-task-list:hover .task-list-item-convert-container,
.markdown-raw .contains-task-list:focus-within .task-list-item-convert-container {
  display: block;
  width: auto;
  height: 24px;
  overflow: visible;
  clip: auto;
}

.markdown-raw ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}

.markdown-raw .markdown-alert {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  color: inherit;
  border-left: .25em solid #d1d9e0;
}

.markdown-raw .markdown-alert>:first-child {
  margin-top: 0;
}

.markdown-raw .markdown-alert>:last-child {
  margin-bottom: 0;
}

.markdown-raw .markdown-alert .markdown-alert-title {
  display: flex;
  font-weight: 500;
  align-items: center;
  line-height: 1;
}

.markdown-raw .markdown-alert.markdown-alert-note {
  border-left-color: #0969da;
}

.markdown-raw .markdown-alert.markdown-alert-note .markdown-alert-title {
  color: #0969da;
}

.markdown-raw .markdown-alert.markdown-alert-important {
  border-left-color: #8250df;
}

.markdown-raw .markdown-alert.markdown-alert-important .markdown-alert-title {
  color: #8250df;
}

.markdown-raw .markdown-alert.markdown-alert-warning {
  border-left-color: #9a6700;
}

.markdown-raw .markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: #9a6700;
}

.markdown-raw .markdown-alert.markdown-alert-tip {
  border-left-color: #1a7f37;
}

.markdown-raw .markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: #1a7f37;
}

.markdown-raw .markdown-alert.markdown-alert-caution {
  border-left-color: #cf222e;
}

.markdown-raw .markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: #d1242f;
}

.markdown-raw>*:first-child>.heading-element:first-child {
  margin-top: 0 !important;
}

.markdown-raw .highlight pre:has(+.zeroclipboard-container) {
  min-height: 52px;
}
