* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.editable-block {
  background-color: rgba(blue, .04);
  padding: 0 5px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  
  &:after {
    position: absolute;
    right: 0;
    top: 0;
    content: "editable surface";
    font-size: 10px;
    color: #fff;
    background-color: blue;
    padding: 2px;
    font-weight: 200;
  }

  &:focus {
    outline-style: dashed;
  }
}