.wrapper {
  .body {
    .editor {
      font-size: 16px;
      background-color: transparent !important;
      pre {
        background-color: transparent !important;
        padding: 0 !important;
      }
    }
  }
}

.wrapper.preview {
  .body {
    background-color: #f6f8fa;
  }
}
